.sdrd-form .sdrd-dice-rows {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.sdrd-form .sdrd-dice-1stcol {
    width: 110px !important;
    text-align: left !important;
    padding-left: 8px;
}

.sdrd-form .sdrd-dice-col {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 13px;
    border: 1px solid #333;
    cursor: pointer;
}

.sdrd-form .sdrd-dice-col:hover {
    color: rgb(159, 255, 159);
    border: 1px solid red;
    box-shadow: 0 0 10px rgb(255, 100, 0);;
}

.sdrd-dice-col.gm-roll input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.sdrd-dice-col.gm-roll input[type="checkbox"]:checked + i {
    color: rgb(227, 153, 153);
}

.sdrd-dice-col input[type="radio"] {
    display: none;
}

.sdrd-dice-col.toggle-exploding-dice input[type="radio"]:checked + i {
    color: rgb(255, 159, 188);
}
/* TODO: Style does not work */
/* .sdrd-dice-col .toggle-exploding-dice input[type="radio"]:checked {
    background: rgba(60, 0, 120, 0.75);
    border: 1px solid #9b8dff;
    box-shadow: 0 0 10px #9b8dff;
} */

.sdrd-form i {
    font-size: 25px;
    vertical-align: middle;
}