.sdrd-form .sdrd-dice-rows {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.sdrd-form .sdrd-dice-1stcol {
    width: 110px !important;
    text-align: left !important;
    padding-left: 8px;
}

.sdrd-form .sdrd-dice-col {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 13px;
    border: 1px solid #333;
    cursor: pointer;
}

.sdrd-form .sdrd-dice-col:hover {
    color: #9fff9f;
    border: 1px solid red;
    box-shadow: 0 0 10px #ff6400;
}

.sdrd-form i {
    font-size: 25px;
    vertical-align: middle;
}