/* Main Dice Form: */
.sdrd-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;     
}

.simple-dice-roller .window-content {
  padding: 10px !important;
}

.sdrd-form {
  padding: 0.5em;
}

.sdrd-form .sdrd-rows {
    display: flex;
    min-width: 270px;
}

.sdrd-form i {
    font-size: 25px;
    vertical-align: middle;
}

.sdrd-form .sdrd-1stcol {
    min-width: 110px !important;
    padding-left: 10px !important;
    justify-content: left !important;
}

.sdrd-form .sdrd-col {
    display: flex;
    flex: 1; /* equally wide */
    justify-content: center; 
    align-items: center;
    height: 50px;
    min-width: 50px;
    border: 1px solid #333;
    cursor: pointer;
}

/* Optional Toggle Buttons: */
.sdrd-toggle-box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    box-shadow: none;
    padding: 0.5em;   
}

.sdrd-toggle-box i {
    font-size: 25px;
}

.sdrd-field-set {
    display: flex;
    flex: 1; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sdrd-toggle {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.sdrd-toggle input[type="radio"] {
    display: none;
}

.sdrd-toggle input[type="radio"]:checked + i {
    color: rgb(200, 150, 253);
}

/* Common elements: */
.sdrd-col:hover,
.sdrd-toggle:hover {
    color: rgb(159, 255, 159);
    border: 1px solid red;
    box-shadow: 0 0 10px rgb(255, 100, 0);
}